.root-layout {
    display: flex;
    flex-direction: column;
    width: 100dvw;
    min-height: 100vh;
}

.layout-content {
    display: flex;
    justify-content: center;
    min-height: calc(100dvh - 60px);
}
